<launch>

  <node name="RobotArmGoalPoseServer" pkg="eye_tracking_server" type="RobotArmGoalPoseServer.py" respawn="false" output="screen">
  </node>
  <node name="percept_and_publish" 
        pkg="eye_tracking_server" 
        type="percept_and_publish.py" respawn="false" output="screen">
  </node>
  <!-- <node name="" 
        pkg="eye_tracking_server" 
        type="pose_publisher.py" respawn="false" output="screen">
  </node> -->

</launch>